.result div{
    cursor: pointer;
}
.result div:hover {
    background-color: #f0f0f0;
}
.active{
    text-decoration-line:line-through;
}
.result div {
   display: flex;
   justify-content: space-between;
   cursor: pointer;
}